# Description: Environment variables for the backend
# Usage: Copy this file to .env and fill in the values

# Neon Postgres database URL (Required)
# Reference: https://neon.tech/docs/connect/connect-from-any-app
DATABASE_URL=

# JWT secret keys (Required)
JWT_ACCESS_TOKEN_SECRET=
JWT_REFRESH_TOKEN_SECRET=

# Redis Cloud URL (Required)
# Reference:
# (URL convention)
# https://redis.io/docs/latest/develop/clients/nodejs/
# https://github.com/redis/node-redis/blob/master/docs/client-configuration.md
# (Cloud setup) 
# https://redis.io/docs/latest/operate/rc/rc-quickstart/
REDIS_CLOUD_URL=

# Resend API key (Required)
# Reference: https://resend.com/docs/send-with-nodejs
RESEND_API_KEY=
# Default
BUSINESS_EMAIL='Acme <onboarding@resend.dev>'

# Upstash ratelimiter (Required)
# Reference: https://upstash.com/docs/redis/sdks/ratelimit-ts/gettingstarted
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=